%section#buttons

  %h2 Buttons
  %hr

  %div
    %a{href: "#"} This is a text link.
    %br/
    %br/
  %div
    %a{href: "#", class: "small button"} .small.button
    %br/
    %br/
  %div
    %a{href: "#", class: "button"} .button
    %br/
    %br/
  %div
    %a{href: "#", class: "large button"} .large.button
    %br/
    %br/
  %div
    %a{href: "#", class: "destructive button"} .button.destructive
    %br/
    %br/
  %div
    %a{href: "#", class: "wide button"} .wide.button