%section#lists
  
  %h2 Lists
  %hr

  %dl
    %dt Definition List Title
    %dd This is a definition list division.
  %h3 Ordered List
  %ol.bulleted
    %li List Item 1
    %li List Item 2
    %li List Item 3
  %h3 Unordered List
  %ul.bulleted
    %li List Item 1
    %li List Item 2
    %li List Item 3
  %h3 %default Ordered List
  %ol.default
    %li List Item 1
    %li List Item 2
    %li List Item 3
  %h3 %default Unordered List
  %ul.default
    %li List Item 1
    %li List Item 2
    %li List Item 3