%section#palette

  %h2 Main Palette
  %hr
  
  .palette_chips

    .color_chip
      .color_chip__swatch
        .swatch.swatch-1
      .color_chip__info
        %h5 Brand Green
        %code.hex #73B42A
        %code.variable $brand-green

    .color_chip
      .color_chip__swatch
        .swatch.swatch-2
      .color_chip__info
        %h5 Brand Green Dark
        %code.hex #006435
        %code.variable $brand-green-dark

  %h2 Extended Palette
  %hr
  
  .palette_chips

    .color_chip
      .color_chip__swatch
        .swatch.swatch-3
      .color_chip__info
        %h5 Purple
        %code.hex #2E358B
        %code.variable $purple

    .color_chip
      .color_chip__swatch
        .swatch.swatch-4
      .color_chip__info
        %h5 Mauve
        %code.hex #6F72AF
        %code.variable $mauve

    .color_chip
      .color_chip__swatch
        .swatch.swatch-5
      .color_chip__info
        %h5 Fuschia
        %code.hex #912B88
        %code.variable $fuschia

    .color_chip
      .color_chip__swatch
        .swatch.swatch-6
      .color_chip__info
        %h5 Pink
        %code.hex #D53880
        %code.variable $pink

    .color_chip
      .color_chip__swatch
        .swatch.swatch-7
      .color_chip__info
        %h5 Baby pink
        %code.hex #F499BE
        %code.variable $baby-pink

    .color_chip
      .color_chip__swatch
        .swatch.swatch-8
      .color_chip__info
        %h5 Red
        %code.hex #B10E1E
        %code.variable $red

    .color_chip
      .color_chip__swatch
        .swatch.swatch-9
      .color_chip__info
        %h5 Mellow red
        %code.hex #DF3034
        %code.variable $mellow-red

    .color_chip
      .color_chip__swatch
        .swatch.swatch-10
      .color_chip__info
        %h5 Orange
        %code.hex #F47738
        %code.variable $orange

    .color_chip
      .color_chip__swatch
        .swatch.swatch-11
      .color_chip__info
        %h5 Brown
        %code.hex #B58840
        %code.variable $brown

    .color_chip
      .color_chip__swatch
        .swatch.swatch-12
      .color_chip__info
        %h5 Yellow
        %code.hex #FFBF47
        %code.variable $yellow

    .color_chip
      .color_chip__swatch
        .swatch.swatch-13
      .color_chip__info
        %h5 Green
        %code.hex #006435
        %code.variable $grass-green

    .color_chip
      .color_chip__swatch
        .swatch.swatch-14
      .color_chip__info
        %h5 Grass green
        %code.hex #85994B
        %code.variable $green

    .color_chip
      .color_chip__swatch
        .swatch.swatch-15
      .color_chip__info
        %h5 Turquoise
        %code.hex #28A197
        %code.variable $turquoise

    .color_chip
      .color_chip__swatch
        .swatch.swatch-16
      .color_chip__info
        %h5 Light blue
        %code.hex #2B8CC4
        %code.variable $light-blue


